
      <div class="content-card" *ngIf="contentItem.imgURL">
        <!-- <img [src]="contentItem.imgURL" *ngIf="contentItem.imgURL" alt="{{ contentItem.title }}" class="content-card-image" height="200px"> -->

        <img [src]="contentItem.imgURL" *ngIf="contentItem.imgURL; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="200px">
        
        <ng-template #defaultImage>
          <img src="https://resizer.otstatic.com/v2/photos/xlarge/1/24685338.webp" 
          height="200px">
        </ng-template>

          <h2>{{ contentItem.title }}</h2>
          <p><strong>Description:</strong> {{ contentItem.description }}</p>
          <p><strong>Creator:</strong> {{ contentItem.creator }}</p>
          <p *ngIf="contentItem.type"><strong>Type: </strong>{{ contentItem.type }}</p>
          <p *ngIf="contentItem.tags && contentItem.tags.length > 0"><strong>Tags:</strong> {{ contentItem.tags.join(', ') }}</p>
      </div>
