
<div class="content-card" *ngIf="contentItem.imgURL !== ' '">
  <!-- draw an element to the page -->
    
  <img [src]="contentItem.imgURL" *ngIf="contentItem.imgURL; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="200px">
          <ng-template #defaultImage>
            <img src="https://www.freep.com/gcdn/presto/2021/08/06/PDTF/a80ae732-7235-4359-aad7-8bb59d46c2ea-bistro_on_the_river_2.jpg?width=1320&height=880&fit=crop&format=pjpg&auto=webp" 
            height="200px">
          </ng-template>
  
            <h2>{{ contentItem.title }}</h2>
            <p><strong>Description:</strong> {{ contentItem.description }}</p>
            <p><strong>Address:</strong> {{ contentItem.creator }}</p>
            <!-- <p *ngIf="contentItem.type"><strong>Type: </strong>{{ contentItem.type }}</p> -->
            <p *ngIf="contentItem.type" appHoverAffect><strong>Type: </strong>{{ contentItem.type }}</p>
            <!-- <p *ngIf="contentItem.tags && contentItem.tags.length > 0"><strong>Tags:</strong> {{ contentItem.tags.join(', ') }}</p> -->
            <p *ngIf="contentItem.tags && contentItem.tags.length > 0"> <strong>Tags: </strong>
            <span *ngFor="let tag of contentItem.tags" appHoverAffect [affectType]="'bold'">{{ tag }}, </span>
            </p>
  
          </div>
  