
<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkTitleExist()">Check Title</button>

<!-- Display search result message -->
<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ searchResultMessage }}</p>

<app-create-content (createContent)="onContentCreated($event)"></app-create-content>

<h1>Casual</h1>
<app-content-card *ngFor=" let contentItem of contentItems | contentTypeFilter: 'Casual'" [contentItem] = "contentItem" [ngClass]="{'casual-card': true}"></app-content-card>

<h1>Fine Dining</h1>
<app-content-card *ngFor=" let contentItem of contentItems | contentTypeFilter: 'Fine Dining'" [contentItem] = "contentItem" [ngClass]="{'fine-dining-card': true}"></app-content-card>

<h1>Empty</h1>
<app-content-card *ngFor=" let contentItem of contentItems | contentTypeFilter" [contentItem] = "contentItem" [ngClass]="{'empty-card': true}"></app-content-card>


<div>
    <div *ngFor="let content of contentItems">
      <app-content-card [contentItem]="content"></app-content-card>
    </div>
</div>