


<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkTitleExist()">Check Title</button>

<!-- Display search result message -->
<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ searchResultMessage }}</p>

<h1>Casual</h1>
<app-content-card *ngFor=" let contentItem of contentItems | contentTypeFilter: 'Casual'" [contentItem] = "contentItem" [ngClass]="{'casual-card': true}"></app-content-card>

<h1>Fine Dining</h1>
<app-content-card *ngFor=" let contentItem of contentItems | contentTypeFilter: 'Fine Dining'" [contentItem] = "contentItem" [ngClass]="{'fine-dining-card': true}"></app-content-card>

<h1>Empty</h1>
<app-content-card *ngFor=" let contentItem of contentItems | contentTypeFilter" [contentItem] = "contentItem" [ngClass]="{'empty-card': true}"></app-content-card>




<!-- create and update a set of search result according to pipe,
    in this case it will filter by type, then input binding = passes the value of contentItem from the parent component to the contentItem property -->